<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Weather</title>
    <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.common.dev.min.js"
        integrity="sha512-PkyFg1MEb/EwsFAqzqvZqWdMT4ItV+E1NgOtfBC9X8UecJcO9bwirD+v/9tJwci4wTNHdNYBk4ev6ceb1hy73g=="
        crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- Materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Simple Icons -->
    <link href="owfont-regular.css" rel="stylesheet" type="text/css">
    <!-- JS -->
    <script src="secrets.js"></script>
    <script defer src="main.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div v-if="loading" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div v-if="!loading">
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="card">
                        <div class="card-image">
                            <i v-bind:class="`owf owf-${iconId} owf-5x`"></i>
                        </div>
                        <div class="card-content">
                            <p>{{currentTime.toDateString()}}</p>
                            <p>{{description}}</p>
                            <p>Sunrise: {{sunrise.getHours()}}:{{sunrise.getMinutes().toString().padStart(2, '0')}}</p>
                            <p>Sunset: {{sunset.getHours()}}:{{sunset.getMinutes().toString().padStart(2, '0')}}</p>
                            <p>Temp: {{temp}}&deg;F</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>