* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    display: flex;
    height: 80%;
}

.sections{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

section {
    width: 30%;
}

section:nth-child(odd){
    border: 1px solid red;
}